{% extends 'base.html' %}

{% block content %}

<div class="content">
    {% if ad %}
        <div class="item">
            <p>author - {{ad.author}}</p>
            <p>title - {{ad}}</p>
            <p>category - {{ad.category}}</p>
            <p>slug - {{ad.slug}}</p>
            <p>date - {{ad.pub_date}}</p>
            <p>description - {{ad.description}}</p>
            <p>budget - {{ad.budget}}</p>
            <p>contact - {{ad.contact_info}}</p>
            {% for f in files %}
                <div class="item">
                    <a href={{f.file.url}} download=>{{f}}</a>
                    {% endfor %}
            <br>
        </div>
    {% endif %}

{% endblock content %}
