{% extends 'base.html' %}

{% block content %}

<div class="content">
    {% if user.is_authenticated %}
        {{ user.username }}
    {% else %}
        {{ user }}
        Not logged in.
    {% endif %}

    <br>

    {% for profile in profiles %}
        <div class="item">
            <img src="media/{{profile.photo}}" width=100 height=100>
            <br>
            <a href="/profile/{{profile.slug}}">Ссылка на профиль</a>
            <p>username - {{profile.username}}</p>
            <p>slug - {{profile.slug}}</p>
            <p>email - {{profile.email}}</p>
            <p>description - {{profile.description}}</p>
            <p>language - {{profile.language}}</p>
            <p>birth date - {{profile.birth_date}}
            {% for stars in profile.stars %}
                <p>stars - {{stars.username}} - {{stars.star}}</p>
            {% endfor %}
            <br>
        </div>
    {% endfor %}
</div>

{% endblock content %}
