{% extends 'base.html' %}

{% block content %}

<div class="content">
    {% if user.is_authenticated %}
        {{ user.username }}
    {% else %}
        {{ user }}
        Not logged in.
    {% endif %}

    <br>

    {% for profile in profiles %}
        <div class="item">
            <img src="media/{{profile.photo}}" width=100 height=100>
            <br>
            <a href="/profile/{{profile.slug}}">Ссылка на профиль</a>
            <p>username - {{profile.username}}</p>
            <p>slug - {{profile.slug}}</p>
            <p>email - {{profile.email}}</p>
            <p>description - {{profile.description}}</p>
            <p>language - {{profile.language}}</p>
            <p>birth date - {{profile.birth_date}}
            {% for stars in profile.stars %}
                <p>stars - {{stars.username}} - {{stars.star}}</p>
            {% endfor %}
            <br>
        </div>
    {% endfor %}

    <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="tele_quests_bot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
    <script type="text/javascript">
        function onTelegramAuth(user) {
            alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');

            const request = {
                "first_name": user.first_name,
                "last_name": user.last_name,
                "id": user.id,
                "username": user.username ? user.username : '',
            };

            const Http = new XMLHttpRequest();
            const url='/api/users/telegram_login/';
            Http.open("POST", url);
            Http.setRequestHeader("Content-Type", "application/json");
            Http.send(JSON.stringify(request));
        }
    </script>
</div>

{% endblock content %}
