{% extends 'base.html' %}

{% block content %}

<div class="content">
    {% for profile in profiles %}
        <div class="item">
            <img src="media/{{profile.user.photo}}" width=100 height=100>
            <p>username - {{profile.user}}</p>
            <p>slug - {{profile.user.slug}}</p>
            <p>email - {{profile.user.email}}</p>
            <p>description - {{profile.user.description}}</p>
            <p>language - {{profile.user.language}}</p>
            <p>token - {{profile.token}}</p>
            <br>
        </div>
    {% endfor %}
</div>

{% endblock content %}
