{% extends 'base.html' %}

{% block content %}

<div class="content">
    {% if profile %}
        <div class="item">
            <img src={{profile.photo.url}} width=100 height=100>
            <p>username - {{profile}}</p>
            <p>slug - {{profile.slug}}</p>
            <p>email - {{profile.email}}</p>
            <p>description - {{profile.description}}</p>
            <p>language - {{profile.language}}</p>
            <p>token - {{token}}</p>
            <br>
        </div>
    {% endif %}

    <div class="content">
        {% if ads %}
        <p>Ads of {{profile}}:</p>
            {% for ad in ads %}
                <div class="item">
                    <p>title - {{ad}}</p>
                    <p>category - {{ad.category}}</p>
                    <p>slug - {{ad.title_slug}}</p>
                    <p>date - {{ad.pub_date}}</p>
                    <p>description - {{ad.description}}</p>
                    <p>budget - {{ad.budget}}</p>
                    <p>contact - {{ad.contact_info}}</p>
                    {% for f in files %}
                        {% if ad == f.ad %}
                            <div class="item">
                                <a href={{f.file.url}} download=>{{f}}</a>
                                {% endif %}
                                {% endfor %}
                    <br>
                </div>
            {% endfor %}
        {% endif %}
</div>
</div>

{% endblock content %}
